@media screen and (min-width: 300px) and (max-width: 768px) {
  /* Hero and Navbar */
  .hero-container {
    width: 100wv;
    height: 50vh;
  }
  .navbar {
    display: block;
    align-content: center;
    width: 100vw;
    padding: 25px 25px 0;
    height: 85px;
  }

  #logo {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  #logo img {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
  }

  #logo h1 {
    font-size: 20px;
  }

  #nav-link a {
    font-size: 12px;
    padding: 0 10px 0;
  }

  .hero-container .content {
    padding-top: 120px;
    height: 50vh;
  }
  .hero-container .content h1 {
    font-size: 30px;
    margin: 5px 0 5px;
  }

  .hero-container .content h2 {
    font-size: 20px;
    margin: 5px 0 5px;
  }

  .hero-container .content a {
    padding: 15px;
    border-radius: 45px;
    font-size: 20px;
    font-size: 20px;
    margin: 5px 0 5px;
  }

  /* About */
  #about {
    height: 65vh;
    width: 100vw;
    padding: 50px 0 0;
  }
  .about-container .about {
    display: block;
    width: 100vw;
  }
  .about img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: var(--secondary-color) 5px solid;
    margin: 0 200px 0;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    padding: 0 25px 0;
  }
  .about-content h1 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }

  .about-content .about-p1 {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
  }

  .about-content .about-p2 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .about-content .about-p2 i {
    margin-right: 5px;
    color: var(--secondar-color);
  }

  /* Education */
  #education {
    width: 100vw;
    height: 100vh;
    padding: 25px 0 0;
  }

  .educ-container {
    width: 100vw;
    height: 90vh;
    margin: 0 0 0;
    padding: 0 0 0;
    justify-content: center;
    justify-items: center;
  }

  .vl,
  .vl-dot-box,
  .vl-dot,
  .dot1,
  .dot2,
  .dot3,
  .dot4,
  .arrow-left::before,
  .arrow-right::before {
    display: none;
  }

  .educ-header h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 0;
    padding-top: 20px;
  }

  .educ-box-container {
    display: block;
    width: 90vw;
    height: 85vh;
    margin: 10px 30px 0;
    padding: 0px 0px 0;
  }

  .educ-box-1 {
    border: var(--light-color) 2px solid;
    width: 450px;
    height: 150px;
    text-align: center;
    align-content: center;
    line-height: 15px;
    padding: 0 0 0;
    margin: 0 0 0;
  }
  .educ-box-2 {
    display: none;
  }

  #educ-date {
    display: contents;
  }
  .educ-box-1 i {
    font-size: 20px;
    margin: 0 0 5px;
  }
  .educ-box-1 h3 {
    font-size: 20px;
    margin: 0 0 5px;
  }
  .educ-box-1 p {
    font-size: 10px;
    margin: 0 0 5px;
  }

  /* Skills */
  #skills {
    height: 100vh;
    width: 100vw;
  }
  .skills-container {
    margin: 0 0 0;
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-content: center;
    padding: 0px 10px 0;
  }

  .skills-header h1 {
    font-size: 30px;
    color: var(--primary-color);
    text-align: center;
    margin: 10px 0 10px;
  }

  .skills-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-box {
    border: 2px solid var(--primary-color);
    height: 90px;
    margin: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin: 0 0 0;
    padding: 0 0 0;
    color: var(--primary-color);
  }

  .skills-box i {
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin: 0 0 0;
    padding: 0 0 0;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
  }
  .skills-box h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0;
    padding: 0 0 0;
  }

  .skills-box p {
    font-size: 10px;
    margin: 0 0 0;
    padding: 0 0 0;
  }

  .canva-icon {
    font-family: "Catalish Huntera", sans-serif;
    font-size: 10px;
    background: var(--primary-color);
    color: var(--light-color);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0 47% 0;
  }

  /* Experience */
  #experience {
    height: 65vh;
    width: 100vw;
    background: var(--primary-color);
    color: var(--light-color);
    padding-top: 75px;
  }

  .exp-container {
    width: 95vw;
    margin: 0 15px 0;
    justify-content: center;
  }

  .exp-header h1 {
    font-size: 30px;
    padding: 10px 0 0;
  }

  .exp-container hr {
    margin: 10px 0 10px;
    width: 95vw;
    border: solid 2px;
  }
  .exp-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr 1fr);
  }

  .exp-date {
    font-size: 15px;
    border-right: solid 3px var(--light-color);
    align-content: center;
    text-align: center;
    width: 170px;
  }
  .exp-company {
    grid-column: 2 / span 4;
    padding: 10px 0 0 30px;
    width: 315px;
  }

  .exp-company h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .exp-company h3 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .exp-company p {
    font-size: 12px;
    line-height: 25px;
  }

  /* Projects */
  #projects {
    height: 130vh;
    width: 100vw;
    padding: 55px 0 0;
  }
  .project-container {
    width: 90vw;
    margin: 0 25px 0;
    padding: 5px 0 0;
  }

  .project-header h1 {
    font-size: 30px;
    text-align: center;
    padding: 5px;
    color: var(--primary-color);
  }
  .project-content {
    margin: 10px 0 0;
    display: block;
  }
  .project-box {
    margin: 0 90px 0;
    width: 300px;
    height: 250px;
    background: var(--primary-color);
    border-radius: 20px;
    margin: 0 80px 10px;
  }
  .project-box img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .project-box h3 {
    margin: 5px 5px 5px;
    text-align: center;
    font-size: 20px;
  }
  .project-box p {
    margin: 5px 5px 5px;
    text-align: center;
    font-size: 12px;
  }

  /* Contact */
  #contact {
    height: 50vh;
    width: 100vw;
    border-top: 1px solid var(--secondar-color);
    padding: 10px 0 0;
  }

  .contact-container {
    width: 100vw;
    margin: 10px 0px 0;
    padding: 0px 0 0;
  }

  .contact-header h1 {
    font-size: 30px;
    color: var(--light-color);
    text-align: center;
  }

  .text {
    display: block;
  }

  input,
  textarea {
    border: 1px soild #262325;
  }
  input:focus {
    border: 3px solid #5c5f6b;
  }

  textarea:focus {
    border: 3px solid #5c5f6b;
  }

  #name,
  #email {
    font-family: "Nunito", sans-serif;
    font-size: 10px;
    width: 95vw;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--secondar-color);
  }

  #message {
    font-family: "Nunito", sans-serif;
    font-size: 10px;
    width: 95vw;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--secondar-color);
  }

  .contact-btn {
    margin: 10px;
    width: 95vw;
    height: 50px;
    font-size: 20px;
    color: var(--light-color);
    background: var(--primary-color);
  }

  .contact-btn:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--light-color);
    cursor: pointer;
  }

  .footer {
    text-align: center;
    align-content: center;
    font-size: 20px;
    background: var(--primary-color);
    color: var(--light-color);
    width: 100%;
    height: 70px;
  }
}
